<div class="row">
  <div class="col-lg-3">
    <ul class="nav navbar-nav navbar-left list-unstyled list-inline text-amber date-list">
      <li><i class="fontello-th text-amber"></i>
      </li>
      <li id="Date"></li>
    </ul>
    <ul class="nav navbar-nav navbar-left list-unstyled list-inline text-amber date-list">
      <li><i class="fontello-stopwatch text-amber"></i>
      </li>
      <li id="hours"></li>
      <li class="point">:</li>
      <li id="min"></li>
      <li class="point">:</li>
      <li id="sec"></li>
    </ul>


  </div>
  <div class="col-lg-6">
    <div style="margin-bottom:0;" class="alert text-white ">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <span class="entypo-info-circled"></span>
      <strong>Wellcome back!</strong>&nbsp;&nbsp;Dave, your last loggin was 1 day ago. Have a nice day
    </div>
  </div>

  <div class="col-lg-3">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a data-toggle="dropdown" class="dropdown-toggle text-white" href="#">
          <img alt="" class="admin-pic img-circle" src="http://api.randomuser.me/portraits/thumb/men/23.jpg">Hi, Dave
          Mattew <b class="caret"></b>
        </a>
        <ul style="margin:25px 15px 0 0;" role="menu" class="dropdown-setting dropdown-menu bg-amber">
          <li>
            <a href="#">
              <span class="entypo-user"></span>&nbsp;&nbsp;My Profile</a>
          </li>
          <li>
            <a href="#">
              <span class="entypo-vcard"></span>&nbsp;&nbsp;Account Setting</a>
          </li>
          <li>
            <a href="#">
              <span class="entypo-lifebuoy"></span>&nbsp;&nbsp;Help</a>
          </li>

          <li>
            <a href="http://themeforest.net/item/apricot-navigation-admin-dashboard-template/7664475?WT.ac=category_item&amp;WT.z_author=themesmile">
              <span class="entypo-basket"></span>&nbsp;&nbsp; Purchase</a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="dropdown" class="dropdown-toggle text-white" href="#">
          <i class="icon-gear"></i>&nbsp;Setting <b class="caret"></b>
        </a>
        <ul style="margin:25px 15px 0 0;" role="menu" class="theme-bg dropdown-setting dropdown-menu bg-amber">

          <li>
            <div id="button-bg"></div>
          </li>
          <li>
            <div id="button-bg2"></div>
          </li>
          <li>
            <div id="button-bg3"></div>
          </li>
          <li>
            <div id="button-bg4"></div>
          </li>
          <li>
            <div id="button-bg5"></div>
          </li>
          <li>
            <div id="button-bg6"></div>
          </li>

        </ul>
      </li>

    </ul>
  </div>

</div>
