<div class="side-bar">
  <ul id="menu-showhide" class="topnav" style="height: auto; margin: -10px 0px 0px;">
    <li class="devider-title" style="text-align: left;">
      <h3 style="display: inline-block; float: none;">
        <span style="display: inline-block; float: none;">Menu</span>
      </h3>
    </li>
    <li style="text-align: left;">
      <%= link_to dashboard_index_path, style: controller_name == 'dashboard' ? 'border-left:4px solid #5F9BDB; padding:0 0 0 16px;':nil, class: 'tooltip-tip tooltipster-disable' do %>
          <i class="fontello-desktop-1"></i>
          <span style="display: inline-block; float: none;">Dashboard</span>
      <% end %>
    </li>

    <li style="text-align: left;">
      <%= link_to reports_path, style: controller_name == 'reports' ? 'border-left:4px solid #5F9BDB; padding:0 0 0 16px;':nil, class: 'tooltip-tip tooltipster-disable' do %>
          <i class="fontello-chart"></i>
          <span style="display: inline-block; float: none;">Reports</span>
      <% end %>
    </li>
  </ul>
</div>
